{% load static %}<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">  
        <title>{% block title %}Fast Data{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        {% block stylesheet %}{% endblock %}
    </head>

      {% for group in distinct_group %}
        <h1>{{group.0}}</h1>
        <br>
<!-- Tenure header -->
    <table class="table">
        <!-- Method 1 to get tenure title. Not scalable. To fix -->
        <!-- <thead class="thead-inverse">
          <tr>
            <th>
                Date
                {% if group.0 == 'Government Securities (Conventional)'%}
                  {% for tenure in distinct_tenures_mgs %}
                      <th>{{tenure.0}}</th>
                  {% endfor %}

                {% elif group.0 == 'Government Securities (Islamic)' %}
                  {% for tenure in distinct_tenures_mgi %}
                    <th>{{tenure.0}}</th>
                  {% endfor %}     
                {% endif %}   

            </th>
          </tr>
        </thead> -->

        <thead class="thead-inverse">
          <tr>
            <th>
                Date
                  {% for tenure in tenures %}
                    {% if tenure.created_date == latest_date and tenure.group == group.0 %}
                      <th>{{tenure.tenure}}</th>
                    {% endif %}
                  {% endfor %}

 

            </th>
          </tr>
        </thead>


          {% for date in distinct_dates %}
          <tr>
            <td>
                {{date.0}}
                {% for tenure in tenures %}
                  {% if tenure.created_date == date.0 and tenure.group == group.0 %}
                    <td>{{tenure.rate}}</td>
                  {% endif %}
                {% endfor %}
            </td>
          </tr>
          {% endfor %}




    </table>
    <br>
    {% endfor %}
</html>