{% extends "base.html" %}
{% load static %}<!DOCTYPE html>
{% block content %}
      {% for group in distinct_group %}
        <h1>{{group.0}}</h1>
        <br>

<!-- Tenure header -->
        {% if group.0 == 'Government Securities (Conventional)' %}
        <button id="btnConventional" type="button" class="button">ExportC</button>
        <br><br>
        <table id = "Conventional" class="table">
        {% elif group.0 == 'Government Securities (Islamic)' %}
        <button id="btnIslamic" type="button" class="button">ExportI</button>
        <br><br>
        <table id = "Islamic" class="table">
        testing elif group
        {% endif %}
        <!-- Method 1 to get tenure title. Not scalable. To fix -->
        <!-- <thead class="thead-inverse">
          <tr>
            <th>
                Date
                {% if group.0 == 'Government Securities (Conventional)'%}
                  {% for tenure in distinct_tenures_mgs %}
                      <th>{{tenure.0}}</th>
                  {% endfor %}

                {% elif group.0 == 'Government Securities (Islamic)' %}
                  {% for tenure in distinct_tenures_mgi %}
                    <th>{{tenure.0}}</th>
                  {% endfor %}     
                {% endif %}   

            </th>
          </tr>
        </thead> -->

        <thead class="thead-inverse">
          <tr>
                <th>Date</th>
                  {% for tenure in tenures %}
                    {% if tenure.created_date == latest_date and tenure.group == group.0 %}
                      <th>{{tenure.tenure}}</th>
                    {% endif %}
                  {% endfor %}
          </tr>
        </thead>


          {% for date in distinct_dates %}
          <tr>
                <td>{{date.0}}</td>
                {% for tenure in tenures %}
                  {% if tenure.created_date == date.0 and tenure.group == group.0 %}
                    <td>{{tenure.rate}}</td>
                  {% endif %}
                {% endfor %}

          </tr>
          {% endfor %}




    </table>
    <br>



    {% endfor %}
  
  <script src="{% static 'js/TableCSVExporter.js' %} " ></script>
  <script src="{% static 'js/TableCSVExporter2.js' %} " ></script>


      

  <script>
    const dataTable = document.getElementById("Conventional");
    const btnExportToCsv = document.getElementById("btnConventional");


    btnExportToCsv.addEventListener("click", () => {
    const exporter = new TableCSVExporter(dataTable);
    const csvOutput = exporter.convertToCSV();
    const csvBlob = new Blob([csvOutput], { type: "text/csv" });
    const blobUrl = URL.createObjectURL(csvBlob);
    const anchorElement = document.createElement("a");

    anchorElement.href = blobUrl;
    anchorElement.download = "Conventional.csv";
    anchorElement.click();

    setTimeout(() => {
        URL.revokeObjectURL(blobUrl);
    }, 500);
});
</script>
<script>
    const dataTable_Islamic = document.getElementById("Islamic");
    const btnExportToCsv_Islamic = document.getElementById("btnIslamic");


    btnExportToCsv_Islamic.addEventListener("click2", () => {
    const exporter_Islamic = new TableCSVExporter2(dataTable_Islamic);
    const csvOutput_Islamic = exporter_Islamic.convertToCSV();
    const csvBlob_Islamic = new Blob([csvOutput_Islamic], { type: "text/csv" });
    const blobUrl_Islamic = URL.createObjectURL(csvBlob_Islamic);
    const anchorElement_Islamic = document.createElement("a");

    anchorElement_Islamic.href = blobUrl_Islamic;
    anchorElement_Islamic.download = "Islamic.csv";
    anchorElement_Islamic.click2();

    setTimeout(() => {
        URL.revokeObjectURL(blobUrl_Islamic);
    }, 500);
});

</script>
  <!-- <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

  <script src="{% static 'js/html2csv.js' %} " ></script> -->
  
  {% endblock content %}