{% extends "base.html" %}
{% load static %}<!DOCTYPE html>
{% block content %}



        <h1>Government Securities (Islamic)</h1>
        <br>

<!-- Tenure header -->

        <button id="btnIslamic" type="button" class="button">Export</button>
        <br><br>
        <table id = "Islamic" class="table">
        <!-- Method 1 to get tenure title. Not scalable. To fix -->
        <!-- <thead class="thead-inverse">
          <tr>
            <th>
                Date
                {% if group.0 == 'Government Securities (Conventional)'%}
                  {% for tenure in distinct_tenures_mgs %}
                      <th>{{tenure.0}}</th>
                  {% endfor %}

                {% elif group.0 == 'Government Securities (Islamic)' %}
                  {% for tenure in distinct_tenures_mgi %}
                    <th>{{tenure.0}}</th>
                  {% endfor %}     
                {% endif %}   

            </th>
          </tr>
        </thead> -->

        <thead class="thead-inverse">
          <tr>
                <th>Date</th>
                  {% for tenure in tenures %}
                    {% if tenure.created_date == latest_date and tenure.group == 'Government Securities (Islamic)' %}
                      <th>{{tenure.tenure}}</th>
                    {% endif %}
                  {% endfor %}
          </tr>
        </thead>


          {% for date in distinct_dates %}
          <tr>
                <td>{{date.0}}</td>
                {% for tenure in tenures %}
                  {% if tenure.created_date == date.0 and tenure.group == 'Government Securities (Islamic)' %}
                    <td>{{tenure.rate}}</td>
                  {% endif %}
                {% endfor %}

          </tr>
          {% endfor %}




    </table>
    <br>


  
  <script src="{% static 'js/TableCSVExporter.js' %} " ></script>
  <script src="{% static 'js/TableCSVExporter2.js' %} " ></script>


      


  <script>
    const dataTable = document.getElementById("Islamic");
    const btnExportToCsv = document.getElementById("btnIslamic");


    btnExportToCsv.addEventListener("click", () => {
    const exporter = new TableCSVExporter(dataTable);
    const csvOutput = exporter.convertToCSV();
    const csvBlob = new Blob([csvOutput], { type: "text/csv" });
    const blobUrl = URL.createObjectURL(csvBlob);
    const anchorElement = document.createElement("a");

    anchorElement.href = blobUrl;
    anchorElement.download = "Islamic.csv";
    anchorElement.click();

    setTimeout(() => {
        URL.revokeObjectURL(blobUrl);
    }, 500);
});
</script>
  <!-- <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

  <script src="{% static 'js/html2csv.js' %} " ></script> -->
  
  {% endblock content %}